@{
    ViewBag.Title = "Register";
}
<p>Your account has been created.</p>
<p>Please check your email for a confirmation message.  Click on the link to confirm your email.</p>
<p>@Html.BootstrapActionLink("Home", "Index", "Home")</p>
