@{
    ViewBag.Title = "Password Recovery";
}
<p>Please check your email to reset your password.</p>
<p>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>

