@{
    ViewBag.Title = "Register";
}
<p>Your account has been created.</p>
<p>Please check your email for a confirmation message.  Click on the link to confirm your email.</p>
<p>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>
