@{
    ViewBag.Title = "Reset Password";
}
<p>Your password has been reset.</p>
<p>@Html.ActionLink("Login", "Index", "Login", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>
